input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

#container {
    width: 1000px;
    height: 500px;
    margin:auto auto;
    margin-top:2px;
    position:relative;
}

#center-container {
    height:500px;
    margin-top:20px;
    position:absolute;
    top:0;
}

#center-container {
    width:500px;
    height:500px;
    left:510px;
    margin-top:30px;
    padding-top:5px;
    color:#ccc;
}

.pro-title {
    box-shadow: 10px 10px 5px #888888;
}

.pro-title h2 {
    color: black;
    text-align: center;
}

.pro-table {
    margin-top:30px;
}

#center-container h3 {
    text-align: center;
    color: black;
    margin-bottom: 6px;
}

hr.black-rule {
    border-top: 1px solid black;
    margin-top:0px;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#infovis {
    position:relative;
    width:500px;
    height:500px;
    margin:auto;
    overflow:hidden;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}