#tagcloud {
    position:relative;
    width:450px;
    height:250px;
    float: left;
    margin-left: auto;
    margin-right:10px;
    margin-top:50px;
}

#tagcloud a {
    position:absolute;
    top:0px;
    left:0px; font-family:
    Microsoft YaHei; color:#000;
    font-weight:bold;
    text-decoration:none;
    padding: 3px 6px;
}

#tagcloud1 a:hover {
    border: 1px solid #eee;
    background: #000;
}