/*
	From Masonry
	Searching Result Template
*/

@font-face {
    font-family: 'robotolight';
    font-weight: normal;
    font-style: normal;
}


.blue {
	color: #6BE;
}

.green {
	color: #6E6;
}

main {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

p-description {
    width: 300px;
}


.button {
    padding: 10px 20px;
    display: inline-block;
    outline: 0;
    border: 0;
}

.button.white {
    background: #000;
    color: #fff;
    text-transform: uppercase;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


.main-posts {
    position: relative;
    margin-top: 10px;
    z-index: 6;
}

.post-masonry {
    margin-bottom: 20px;
}

.post-masonry .post-thumb {
    border: 4px solid #000;
    overflow: hidden;
    position: relative;
    height: 210px;
}

.post-masonry .post-thumb img {
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(1,0,0,0.9);
    padding: 8px 20px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #fff;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #888 !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.linkButton {
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer;
}

.standardWord {
     border: none;
     background: none;
}

.post-e-text {
    margin-left: 110px;
    padding-top: 5px;
    padding-left: 5px;
    height: 150px;
    background: white;
}

.post-e-img {
    height: 150px;
    width: 110px;
    float: left;
}

.gsearch {
    text-align:center;
}
#btn-search {
    width: 80px;
}

.lib-img {
    width: 30%;
    float: left;
}

.lib-title {
    font-size:25px;
    margin-left:10px;
    margin-top:10px;
}

/*
    For topic.html
*/
.content-mid {
    clear:both;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.topic-title {
    width: 85%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: black;
    background-color: grey;
    border-color: white;
    padding: 2px;
    text-align: center;
}

.topic-user {
    text-align: right;
    width: 90%;
}

.topic-content {
    text-align: center;
}

.create-topic {
    margin-left: auto;
    margin-right: 60px;
    width: 230px;
}

.th-topic {
    width: 230px;
}

.th-date {
    width: 330px;
}

.inline-block {
    width: 130px;
    height: 200px;
    margin: 5px;
    padding: 40px;
    display: inline-block;
}

.standard-img {
    width: 105px;
    height: 144px;
}


/*
    For book.html
*/
.main-posts .container .row {
}

.main-posts .container .row .bookdetail {
    height: 288px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.main-posts .container .row .bookdetail .rating-coll{
    bottom: 0px;
    right: 65px;
    position: absolute;
}

.main-posts .container .row .bookdetail .big-img {
    width: 210px;
    height: 288px;
    float: left;
}

.main-posts .container .row .ca-content-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-posts .container .realted-books {
    font-size: 30px;
    margin-left: 100px;
}

.container-fluid .searchbar {
    margin-top: 15px;
}

/*
Alltopic
*/
.table tbody .active td {
    text-align: left;
}
/*
Index
*/
.right-book {
    margin-top:10px;
}
.right-table {
    width: 50%;
    background-color: black;
}

.btn-small {
    width: 80px;
}

.index-reg {
    margin-top: 28px;
}

footer {
    text-align: center;
    bottom: 0px;
    position: fixed;
    vertical-align: middle;
    line-height: normal;
    width: 100%;
    border: 1px groove #aaaaaa;
}
