/*
	From Masonry
	Searching Result Template
*/

@font-face {
    font-family: 'robotolight';
    font-weight: normal;
    font-style: normal;
}

html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.blue {
	color: #6BE;
}

.green {
	color: #6E6;
}

main {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #888;
    background-color: #fff;
    font-family: 'robotolight';
}

.button {
    padding: 10px 20px;
    display: inline-block;
    outline: 0;
    border: 0;
}

.button.white {
    background: #000;
    color: #fff;
    text-transform: uppercase;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}


.main-posts {
    position: relative;
    margin-top: 10px;
    z-index: 6;
}

.post-masonry {
    margin-bottom: 20px;
}

.post-masonry .post-thumb {
    border: 4px solid #000;
    overflow: hidden;
    position: relative;
    height: 210px;
}

.post-masonry .post-thumb img {
    display: block;
}

.post-masonry .post-thumb .title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(1,0,0,0.9);
    padding: 8px 20px;
}

.post-masonry .post-thumb .title-over h4 {
    font-size: 16px;
    font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
    color: #fff;
}

.post-masonry .post-thumb .post-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.9);
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
    font-size: 16px;
    font-family: 'robotoregular';
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
    color: #888 !important;
}

.post-masonry .post-thumb .post-hover i {
    display: block;
    margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
    font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
    font-size: 12px;
    margin-bottom: 15px;
    display: block;
}

.post-masonry .post-thumb:hover .title-over {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
    top: 0;
    visibility: visible;
    opacity: 1;
}

.linkButton {
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer;
}

.StandardWord {
     background: white;
     border: none;
     cursor: pointer;
}

.post-e-text {
    position: relative;
    bottom: 170px;
    left: 115px;
    width: 230px;
    height: 170px;
    background: white;
}

.post-e-img {
    height: 170px;
    width: 110px;
}

.gsearch {
    text-align:center;
}

.lib-img {
    width: 30%;
    float: left;
}

.lib-title {
    font-size:25px;
    margin-left:10px;
    margin-top:10px;
}

.content-mid {
    clear:both;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

