{% extends 'searchtool/base.html' %}

{% load staticfiles %}

{% block tab %}
<div class="content-mid">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/searchtool/index/"> Home </a></li>
        <li role="presentation" class="active"><a href="/searchtool/alltopics/"> All Topics </a></li>
        {% if user.is_authenticated %}
        <li role="presentation"><a href="/searchtool/mytopics/"> My Topics </a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

<!--block main_content-->
{% block main_content %}
{% if created %}
<link media="screen" href="{% static 'css/jquery.msg.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'js/jquery.center.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.msg.js' %}"></script>
<script language="JavaScript" type="text/JavaScript">
    $.msg({ content: 'Topic has been created'});

</script>
<script type="text/javascript" charset="utf-8">
      // google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20960410-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
{% endif %}

<table class="table table-striped table-hover topic-title">
    <thead>
    <tr>
        <th class="th-topic">Topic</th>
        <th>Owner</th>
        <th class="th-date">Date</th>
    </tr>
    </thead>
    <tbody>
    {% if topic_list %}
    {% for topic in topic_list %}
    <tr class="active">
        <td class="th-topic"><a href="/searchtool/topic?id={{ topic.id }}">{{ topic.topic }}</a></td>
        <td>{{ topic.user.username }}</td>
        <td class="th-date">{{ topic.date }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<div class="pageBar">
    <ul class="pagination pagination-sm">
        {% if cur_page == 1%}
        <li class="disabled"><a href="#">«</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{cur_page|add:'-1'}}">«</a></li>
        {% endif %}

        {% for info in page_info %}
        {% if info == cur_page %}
        <li class="active"><a href="/searchtool/topic?page={{cur_page}}">{{cur_page}}</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{info}}">{{info}}</a></li>
        {% endif %}
        {% endfor %}

        {% if cur_page == num_pages %}
        <li class="disabled"><a href="#">»</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{cur_page|add:'1'}}">»</a></li>
        {% endif %}

    </ul>
</div>

{% endblock %}
