<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Searching From Here </title>
    <img src="{% static 'images/logo.png' %}" alt="test"/>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Login and Logout -->
    <div>
        {% if user.is_authenticated %}
            <a href="/searchtool/logout/">Logout</a>
        {% else %}
            <form id="login" method="post" action="/searchtool/index/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="50" />
                Password: <input type="password" name="password" value="" size="50" />
                <input type="submit" name="login" value="Login" />
            </form>

            <input type="button" name="register" value="Register" onclick="register()"/>        <!-- use JavaScript to replace-->
        {% endif%}
    </div>

    <div>
        {% block headline %}{% endblock %}
    </div>
    <div>
        {% block guideline %}{% endblock %}
    </div>
    <div>
        {% block topic_list %}{% endblock %}
    </div>
</body>
</html>