<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Searching From Here </title>
    <link href="http://bootswatch.com/cosmo/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <!--<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>-->

    <link href="{% static 'css/template.css' %}" rel="stylesheet" type="text/css">

    <!-- Login and Logout -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="{% static 'images/logo.png' %}" alt="logo" class="lib-img"/>
                <a class="navbar-brand lib-title" href="/searchtool/index/">Digital Lib</a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">

                {% if user.is_authenticated %}
                <ul class="nav navbar-nav lib-title">
                    <li class="lead" style="position:relative; top:10px"><p margin="100px"> Hello {{user.username}} </p>
                    </li>
                    <li><a class="btn btn-default" href="/searchtool/profile/">Profile</a></li>
                    <li><a class="btn btn-default" href="/searchtool/addtopic">Cart</a></li>
                    <!--<input type="button" class="btn btn-default" name="Profile" value="Profile"-->
                    <!--onclick="location.href='/searchtool/profile/'"/>-->
                    <!--<input type="button" class="btn btn-default" name="addtopic" value="addTopic"-->
                    <!--onclick="location.href='/searchtool/addtopic/'"/>-->
                    <li><a class="btn btn-default" href="/searchtool/logout/">Logout</a></li>
                </ul>
                {% else %}
                <form id="login" class="navbar-form navbar-left" method="post" action="/searchtool/index/">
                    {% csrf_token %}
                    Username:<input type="text" name="username" value="" size="25"/><br>
                    Password: <input type="password" name="password" value="" size="25"/>
                    <input class="btn btn-default btn-small" type="submit" name="login" value="Login"/>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="index-reg" href="/searchtool/register">Register</a></li>
                </ul>
                <!-- use JavaScript to replace-->
                {% endif%}
            </div>
            <div class="searchbar">
                <form id="search" class="gsearch navbar-form" method="get" action="/searchtool/search">
                    {% csrf_token %}
                    <input class="form-group form-control" type="text" name="query" value="Search From Here" size="50"
                           onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                           onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"/>
                    <input id="btn-search" class="btn btn-default" type="submit" name="GSearch" value="Go"/>
                </form>
            </div>
        </div>
    </nav>

    <!-- search tool -->
    <!-- search tabs -->
    <!--<div id="searchcontrol"></div>-->
    {% block tab %}
    <div class="content-mid">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/searchtool/index/"> Home </a></li>
            <li role="presentation"><a href="/searchtool/alltopics/"> All Topics </a></li>
            {% if user.is_authenticated %}
            <li role="presentation"><a href="/searchtool/mytopics/"> My Topics </a></li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}

    <!-- template -->
    {% block head %}{% endblock %}
</head>

<body>


<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>


<!-- template -->
<div>
    {% block headline %}{% endblock %}
</div>
<div>
    {% block guideline %}{% endblock %}
</div>
<div>
    {% block main_content %}{% endblock %}
</div>

</body>
</html>