<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> Searching From Here </title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Search API TODO -->
    <script type="text/javascript" src="{% static 'js/googlesearch.js' %}"></script>

    <script src="https://www.google.com/jsapi?key=ABQIAAAAFEyVt-pBJaTXzM__EKlCrBTsyyvZhuBjP1YLRoRPwle1bnzSQRQBJp693I-9cLRWqwHDWCO_xmGezQ"
            type="text/javascript"></script>
    <script type="text/javascript">
        google.load("search", "1", {"language" : "en"});
        google.setOnLoadCallback(initialize);
    </script>

    <link href="{% static 'css/template.css' %}" rel="stylesheet" type="text/css">

    <!-- Login and Logout -->
    <div>
        <img src="{% static 'images/logo.png' %}" alt="test"/>

        <div>
            {% if user.is_authenticated %}
            <p> Hello {{user.username}} </p>
            <input type="button" name="Profile" value="Profile" onclick="location.href='/searchtool/profile/'"/>
            <a href="/searchtool/logout/">Logout</a>
            {% else %}
            <form id="login" method="post" action="/searchtool/index/">
                {% csrf_token %}
                Username: <input type="text" name="username" value="" size="25"/>
                Password: <input type="password" name="password" value="" size="25"/>
                <input type="submit" name="login" value="Login"/>
            </form>
            <input type="button" name="register" value="Register" onclick="location.href='/searchtool/register/'"/>

            <!-- use JavaScript to replace-->
            {% endif%}
        </div>

        <!-- search tool -->
        <!-- search tabs -->
        <!--<div id="searchcontrol"></div>-->
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="/searchtool/index/"> Home </a></li>
                <li role="presentation"><a href="/searchtool/alltopics/"> All Topics </a></li>
                {% if user.is_authenticated %}
                <li role="presentation"><a href="/searchtool/mytopics/"> My Topics </a></li>
                {% endif %}
                <!--<li role="presentation"><a href="#"> Search </a></li>-->
            </ul>
        </div>

    </div>

    <!-- template -->
    {% block head %}{% endblock %}
</head>

<body>

<form id="search" method="get" action="/searchtool/search/">
    {% csrf_token %}
    <input type="text" name="query" value="Search From Here" size="50" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" />
    <input type="submit" name="GSearch" value="Go"/>
</form>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

<!-- template -->
<div>
    {% block headline %}{% endblock %}
</div>
<div>
    {% block guideline %}{% endblock %}
</div>
<div>
    {% block main_content %}{% endblock %}
</div>

</body>
</html>