{% extends 'searchtool/base.html' %}

{% load staticfiles %}

<!--Block head-->
{% block head %}
{% endblock %}

<!--Block main_content-->
{% block main_content %}
<script type="text/javascript">
	$(function () {
        var ratingNum = document.getElementById('rating').innerHTML;
        $("#jRate").jRate({
            rating: ratingNum,
            backgroundColor: 'black',
            strokeColor: 'black',
            startColor: 'cyan',
            endColor: 'blue',
            shape: 'TWITTER',
            opacity: 0.7,
            precision: 0,
            width: 50,
            height: 50,
            onSet: function(rating) {
                console.log("OnSet: Rating: "+rating);
                sendRates(rating);
            }
        });
        $("#jRateRead").jRate({
            rating: ratingNum,
            backgroundColor: 'black',
            strokeColor: 'black',
            startColor: 'cyan',
            endColor: 'blue',
            shape: 'TWITTER',
            opacity: 0.7,
            precision: 0,
            width: 50,
            height: 50,
            readOnly: true,
        });
	});

    function sendRates(rating) {
        var bookid = document.getElementById('bookid').value;
        $.get('/searchtool/ratebook', {bookid: bookid, rating: rating}, function(data) {
            $('#test').html(data);
        });
    };

    function collectBook() {
        var bookid = document.getElementById('bookid').value;
        $.get('/searchtool/collectbook', {bookid: bookid}, function() {
            $('#collected').val('True')
            $('#collected').removeClass('linkButton');
            $('#collected').addClass('StandardWord');
            document.getElementById('liked').type='text';
        });
    };

    function sendLike() {
        var bookid = document.getElementById('bookid').value;
        $.get('/searchtool/likebook', {bookid: bookid}, function() {
            $('#liked').val('True')
            $('#liked').removeClass('linkButton');
            $('#liked').addClass('StandardWord');
            document.getElementById('liked').type='text';
        });
    };

</script>
<script src="{% static 'js/jRate.js' %}" type="text/javascript"></script>

<div align="center">
    <!--<h1>{{ book.id }}</h1>-->
    <h1>{{ book.title }}</h1>
    <p style="display:inline">{{ book.authors }}</p>
    <p style="display:inline">{{ book.publishedDate }}</p>
    <h3>{{ book.reviews }} Reviews</h3>
    <img src="{{ book.image }}"/>

    <!--Rating-->
    <p id="rating" style="display: none">{{ book.rating }}</p>
    {% if book.rating == -1 %}
        <div id="jRate"></div>
    {% else %}
        <div id="jRateRead"></div>
    {% endif %}
    <!--Collect it-->
    <!--Shopping Cart-->
    {% if book.isCollected == 'Collected' %}
    <p>Collected</p>
    {% else %}
    <form id="collectLike" method="get" action="javascript:collectBook()">
        <input id="bookid" type="hidden" name="bookid" value="{{ book.id }}"/>
        <input id="collected" type="submit" class="linkButton" name="liked" value="{{ book.isCollected }}" readonly/>
    </form>
    {% endif %}
</div>

{% endblock %}
