<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link media="screen" href="{% static 'css/jquery.msg.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.center.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.msg.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
          $.msg({content: 'Please Login First. Now Redirect to Home Page'});
          setTimeout(function(){
            window.location="http://localhost:8000/searchtool/index/";
            }, 2300);
    </script>
    <script type="text/javascript" charset="utf-8">
      // google analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20960410-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
