{% extends 'searchtool/base.html' %}

{% load staticfiles %}

<!-- head -->
{% block head %}
<script type="text/javascript" src="{% static 'js/tagcloud.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tagcloud.css' %}"/>
{% endblock %}

<!-- headline -->
{% block headline %}
<!--<form id="search" class="gsearch navbar-form" method="get" action="/searchtool/search">-->
<!--{% csrf_token %}-->
<!--<input class="form-group form-control" type="text" name="query" value="Search From Here" size="50"-->
<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}"-->
<!--onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999"/>-->
<!--<input class="btn btn-default" type="submit" name="GSearch" value="Go"/>-->
<!--</form>-->
{% endblock %}

<!-- guideline -->
{% block guideline %}
{% endblock %}

<!-- main_content -->
{% block main_content %}
<!--Waterfall Template-->
<div class="main-posts">
    <div class="container">
        <div class="row">
            <div class="blog-masonry masonry-true">
                {% if book_list %}
                {% for book in book_list %}
                <div class="post-masonry col-md-4 col-sm-4">
                    <div class="post-thumb">
                        <img class="post-e-img" src="{{ book.image }}"/>

                        <div class="post-e-text">
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ book.textSnippet }}
                        </div>
                        <div class="title-over">
                            <h4>{{ book.title }}</h4>
                        </div>
                        <div class="post-hover text-center">
                            <div class="inside">
                                <i class="fa fa-plus"></i>

                                <form id="webReaderLink" method="post" action="/searchtool/gotoBook/">
                                    {% csrf_token %}
                                    <input type="hidden" name="queryid" value="{{ queryid }}"/>
                                    <input type="hidden" name="book" value="{{ book }}"/>
                                    <input class="linkButton" type="submit" name="title" value="{{ book.title }}"/>
                                </form>
                                <span>{{ book.authors }}</span>
                                <span>{{ book.publishedDate }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                {% if categories %}
                <div id="tagcloud">
                    {% for cate in categories %}
                    <a href="#">{{ cate }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                {% if popular_books%}
                <div class="right-book">
                    <table class="right-table table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>Book</th>
                            <th>Popularity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in popular_books %}
                        <tr class="active">
                            <td>{{ book.title }}</td>
                            <td>{{ book.views }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


