{% extends 'searchtool/base.html' %}

{% load staticfiles %}

<!-- head -->
{% block head %}
    <!--<link rel="stylesheet" href="{% static 'css/normalize.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>

{% endblock %}

<!-- headline -->
{% block headline %}
    <!--<form id="gsearch" method="post" action="/searchtool/searchbook/">-->
        <!--{% csrf_token %}-->
        <!--<input type="text" name="query" value="Search By Google" size="50" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" />-->
        <!--<input type="submit" name="Gsearch" value="Go" />-->
    <!--</form>-->
{% endblock %}

<!-- guideline -->
{% block guideline %}
    <!--<a href="/searchtool/alltopics">All Topics</a>-->
    <!--{% if user.is_authenticated %}-->
        <!--<a href="/searchtool/mytopics">My Topics</a>-->
    <!--{% endif %}-->

    <!--<form id="hsearch" method="post" action="/searchtool/searchfromDB">-->
        <!--{% csrf_token %}-->
        <!--<input type="text" name="find" value="Search From Here" size="50" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="color:#999999" />-->
        <!--<input type="submit" name="Hsearch" value="Go" />-->
    <!--</form>-->
{% endblock %}

<!-- main_content -->
{% block main_content %}
<!--Waterfall Template-->
    <div class="main-posts">
        <div class="container">
            <div class="row">
                <div class="blog-masonry masonry-true">
                    {% if book_list %}
                    {% for book in book_list %}
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="post-thumb">
                            <img src="http://books.google.com/books/content?id=Ql6QgWf6i7cC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api">
                            <div class="title-over">{{ book.title }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


