{% extends 'searchtool/base.html' %}

{% load staticfiles %}


{% block tab %}
<div class="content-mid">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/searchtool/index/"> Home </a></li>
        <li role="presentation"><a href="/searchtool/alltopics/"> All Topics </a></li>
        {% if user.is_authenticated %}
        <li role="presentation" class="active"><a href="/searchtool/mytopics/"> My Topics </a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block main_content %}
<table class="table table-striped table-hover content-mid">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th>Topic</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    {% if topic_list %}
    <tr class="active">
        {% for topic in topic_list %}
        <!--<td>{{ index }}</td>-->
        <td>{{ topic.topic }}</td>
        <td>{{ topic.user.username }}</td>
        {% endfor %}
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}