{% extends 'searchtool/base.html' %}

{% load staticfiles %}

{% block tab %}
<div class="content-mid">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/searchtool/index/"> Home </a></li>
        <li role="presentation"><a href="/searchtool/alltopics/"> All Topics </a></li>
        {% if user.is_authenticated %}
        <li role="presentation" class="active"><a href="/searchtool/mytopics/"> My Topics </a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

<!--block main_content-->
{% block main_content %}
<table class="table table-striped table-hover topic-title">
    <thead>
    <tr>
        <th class="th-topic">Topic</th>
        <th>Owner</th>
        <th class="th-date">Date</th>
    </tr>
    </thead>
    <tbody>
    {% if topic_list %}
    {% for topic in topic_list %}
    <tr class="active">
        <td class="th-topic"><a href="/searchtool/topic?id={{ topic.id }}">{{ topic.topic }}</a></td>
        <td>{{ topic.user.username }}</td>
        <td class="th-date">{{ topic.date }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<div class="pageBar">
    <ul class="pagination pagination-sm">
        {% if cur_page == 1%}
        <li class="disabled"><a href="#">«</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{cur_page|add:'-1'}}">«</a></li>
        {% endif %}

        {% for info in page_info %}
        {% if info == cur_page %}
        <li class="active"><a href="/searchtool/topic?page={{cur_page}}">{{cur_page}}</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{info}}">{{info}}</a></li>
        {% endif %}
        {% endfor %}

        {% if cur_page == num_pages %}
        <li class="disabled"><a href="#">»</a></li>
        {% else %}
        <li><a href="/searchtool/alltopics?page={{cur_page|add:'1'}}">»</a></li>
        {% endif %}

    </ul>
</div>
{% endblock %}