{% extends 'searchtool/base.html' %}

{% load staticfiles %}

<!-- head -->
{% block head %}
<link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet"/>
<link type="text/css" href="{% static 'css/RGraph.css' %}" rel="stylesheet"/>
<script language="javascript" type="text/javascript" src="{% static 'js/jit.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'js/RGraph.js' %}"></script>
{% endblock %}

<!-- headline -->
{% block headline %}
{% endblock %}

<!-- guideline -->
{% block guideline %}
{% endblock %}

<!-- main_content -->
{% block main_content %}
<body onload="init({{ ontologyJSON }});">
<div id="container">
    <div id="center-container">
        <div id="infovis"></div>
    </div>
</div>
</body>
{% endblock %}